<!-- crud.html -->
<div class="row content">
    <div class="col-md-5">

        <!-- Creates Main Panel -->
        <div class="panel panel-default">

            <!-- Panel Title -->
            <div class="panel-heading">
                <h2 class="panel-title text-center">Crud Example <span class="glyphicon glyphicon-search"></span></h2>
            </div>

            <!-- Panel Body -->
            <div class="panel-body">

                <!-- Creates Form -->
                <form name ="crudFrom">

                    <!-- Text Boxes and Other User Inputs. Note ng-model binds the values to Angular $scope -->
                    <div class="form-group">
                        <label for="first_name">First name</label>
                        <input type="text" class="form-control" id="first_name" placeholder="Jhon" ng-model="formData.first_name">
                    </div>
                    <div class="form-group">
                        <label for="last_name">Last Name</label>
                        <input type="text" class="form-control" id="last_name" placeholder="Sholeh" ng-model="formData.last_name">
                    </div>
                    <div class="form-group">
                        <label for="age">Age</label>
                        <input type="number" class="form-control" id="age" placeholder="13" ng-model="formData.age" required>
                    </div>
                    <label class="radio control-label">Gender</label>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="radiomale" value="Male" ng-model="formData.gender">
                            Male
                        </label>
                    </div>
                    <div class="radio" required>
                        <label>
                            <input type="radio" name="optionsRadios" id="radiofemale" value="Female" ng-model="formData.gender">
                            Female
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" id="radioother" value="Shemale?" ng-model="formData.gender">
                            Shemale
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="address">address</label>
                        <input type="text" class="form-control" id="address" placeholder="The jakku" ng-model="formData.address">
                    </div>
                    <div class="form-group">
                        <label for="email">email</label>
                        <input type="text" class="form-control" id="email" placeholder="babi@cihuy.com" ng-model="formData.email">
                    </div>

                    <!-- Query button. Note that its tied to queryUsers() function from queryCtrl.  -->
                    <button type="submit" class="btn btn-danger btn-block" ng-click="createUser()">Submit</button>
                </form>
            </div>

            <!-- Footer panel for displaying count. Note how it will only display if queryCount is greater than 0 -->
            <div ng-show="queryCount>0" class="panel-footer">
                <p class="text-center">Hot Dang! We Found {{queryCount}} Teammates.</p>
            </div>
        </div>
    </div>

    <!--TABLE-->
    <div class="col-md-7">
    <table st-table="rowCollection" class="table table-striped">
        <thead>
        <tr>
            <th>first name</th>
            <th>last name</th>
            <th>age</th>
            <th>gender</th>
            <th>address</th>
            <th>email</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in rowCollection">
            <td>{{row.first_name}}</td>
            <td>{{row.last_name}}</td>
            <td>{{row.age}}</td>
            <td>{{row.gender}}</td>
            <td>{{row.address}}</td>
            <td>{{row.email}}</td>
        </tr>
        </tbody>
    </table>
    </div>
</div>